@model ApiaryViewModel

    <div class="container bg-white p-2 text-center">

        <nav class="breadcrumb bg-white">
            <a class="breadcrumb-item" href="/Home">Home</a>
            <span class="breadcrumb-item active">Apiary</span>
        </nav>

        <div class="three"> <h1 class="text-xl-center">Пасечное хозяйство</h1></div>
        <h1></h1>




        <div class="row text-center">


            @if (!Model.Apiaries.Any())
            {

            }
            else
            {
                foreach (Apiary ap in Model.Apiaries)
                {


                    <div class="col-auto p-4 text-center">
                        <div class="btn btn-light text-center">
                            <h4>@ap.Name</h4>

                            <div class="btn-group">
                                <a type="button" class="btn btn btn-outline-dark "  asp-action="HiveView" asp-controller="Apiary" value="Улья" asp-route-id="@ap.Id">Открыть</a>
                                <button type="button" class="btn btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="About" asp-controller="Apiary" value="Информация" asp-route-id="@ap.Id">Информация о пасеке</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Edit" asp-controller="Apiary" value="Редактиовать" asp-route-id="@ap.Id">Редактировать</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Delete" asp-controller="Apiary" value="Удалить" asp-route-id="@ap.Id">Удалить</a>


                                </div>
                            </div>
                        </div>
                    </div>


                }
            }

            <div class="col-auto p-4 text-center">
                <div class="btn btn-dark text-center">
                    <h4>Добавьте пасеку</h4>


                    <a class="btn btn btn-outline-light " asp-action="Add" asp-controller="Apiary" value="Добавить">Добавить</a>


                </div>
            </div>




        </div>
        <br />
        <br />
        <br />

    </div>