@model Car
    


<div class="col-4 p-2">
        <a type="button" class="btn btn-light" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id">

            <h2>@Model.name</h2>
            <img class="rounded d-block" src="@Model.img" alt="@Model.name" width="300" height="250" />

            <p>@Model.desc</p>
            <p>Цена: @Model.price.ToString("c")</p>

        </a>


    </div>

    
