@model HiveViewModel

    <div class="container bg-white p-2">
        <nav class="breadcrumb bg-white">
            <a class="breadcrumb-item" href="/Home">Home</a>
            <a class="breadcrumb-item" href="/Apiary">Apiary</a>
            <a class="breadcrumb-item" href="/Apiary/HiveView/@Model.Aid">Hive</a>
            <span class="breadcrumb-item active">About</span>
        </nav>



        <div class="three"> <h1 class="text-xl-center">Информация об улье</h1></div>

        <br />


        <form asp-action="About" asp-controller="Hive" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center">


                <div class="form-group ">
                    <h3 asp-for="Name"><b>Название</b></h3>
                    <label>@Model.Name</label>
                    <br /><hr />

                </div>

                <div class="form-group ">
                    <h3 asp-for="Name"><b>Описание</b></h3>

                    <p>@Model.Desc</p>
                    <br />
                    <hr />
                </div>

                <div class="form-group ">
                    <h3 asp-for="Force"><b>Сила семьи</b></h3>

                    <p>@Model.Force</p>
                    <br />
                    <hr />
                </div>

                <div class="form-group ">
                    <h3 asp-for="Mass"><b>Масса улья (кг)</b></h3>

                    <p>@Model.Mass</p>
                    <br />
                    <hr />
                </div>

                <div class="form-group ">
                    <h3 asp-for="Frame"><b>Количество рамок</b></h3>

                    <p>@Model.Frame</p>
                    <br />
                    <hr />
                </div>

                <div class="form-group ">
                    <h3 asp-for="Wframe"><b>Ширина рамок(мм)</b></h3>

                    <p>@Model.Wframe</p>
                    <br />
                    <hr />
                </div>

                <div class="form-group ">
                    <h3 asp-for="Hframe"><b>Высота рамок(мм)</b></h3>

                    <p>@Model.Hframe</p>
                    <br />
                    <hr />
                </div>

                <div class="form-group ">
                    <h3 asp-for="Name"><b>Порода</b></h3>
                    <label>@Model.Porod</label>
                    <br /><hr />

                </div>

                <div class="form-group ">
                    <h3 asp-for="Name"><b>Болезни</b></h3>
                    @if (Model.Heal1)
                    {
                        <label>Акарапидоз</label><br />

                    }
                    @if (Model.Heal2)
                    {
                        <label>Амебиаз</label><br />

                    }
                    @if (Model.Heal3)
                    {
                        <label>Американский гнилец</label><br />

                    }
                    @if (Model.Heal4)
                    {
                        <label>Аскофероз</label><br />

                    }
                    @if (Model.Heal5)
                    {
                        <label>Аспергиллёз</label><br />

                    }
                    @if (Model.Heal6)
                    {
                        <label>Варроатоз</label><br />

                    }
                    @if (Model.Heal7)
                    {
                        <label>Европейский гнилец</label><br />

                    }
                    @if (Model.Heal8)
                    {
                        <label>Мешотчатый расплод</label><br />

                    }
                    @if (Model.Heal9)
                    {
                        <label>Нозематоз</label><br />

                    }
                    @if (Model.Heal != null)
                    {
                        <label>@Model.Heal</label><br /><br />

                    }
                    <hr />

                    @if (Model.Matka)
                    {
                        <h3><b>Матка</b></h3><br />
                        <div class="row">
                            <div class="col-md-4">
                                <h4><b>Плодность</b></h4>
                                <label>@Model.Plod </label><br />
                            </div>
                            <div class="col-md-4">
                                <h4><b>Происхождение</b></h4>
                                <label>@Model.Prois </label><br />
                            </div>
                            <div class="col-md-4">
                                <h4><b>Дата подсадки</b></h4>
                                <label>@Model.DatePods.ToShortDateString() </label><br />
                            </div>




                        </div>
                        <br /><hr />

                    }






                </div>



                <br />
                <br />

                <a asp-action="HiveView" asp-controller="Apiary" asp-route-id="@Model.Aid" value="Завершить" class="btn btn-outline-dark">Завершить</a>
                <br />
                <br />
                <br />
            </div>
        </form>


    </div>