@model HiveViewModel


<div class="container bg-white p-2">
    <nav class="breadcrumb  bg-white">
        <a class="breadcrumb-item" href="/Home">Home</a>
        <a class="breadcrumb-item" href="/Apiary">Apiary</a>
        <a class="breadcrumb-item" href="/Apiary/HiveView/@Model.Aid">Hive</a>
        <span class="breadcrumb-item active">Add</span>
    </nav>

    <div class="three"> <h1 class="text-xl-center">Добавление улья</h1></div>

    <h1></h1>


    <form asp-action="Add" asp-controller="Hive" asp-anti-forgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>

            <input asp-for="Aid" value="@Model.Aid" style="visibility: hidden" />
            <div class="form-group ">
                <label asp-for="Name"><b>Введите Название</b></label>
                <br />
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Desc"><b>Введите Описание</b></label>
                <br />
                <textarea class="form-control" rows="3" type="text" asp-for="Desc"></textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Force"><b>Введите силу семьи</b></label>
                <br />
                <input type="text" asp-for="Force" />
                <span asp-validation-for="Force" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Mass"><b>Введите массу улья (кг)</b></label>
                <br />
                <input type="text" asp-for="Mass" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Frame"><b>Введите количество рамок</b></label>
                <br />
                <input type="text" asp-for="Frame" />
                <span asp-validation-for="Frame" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Wframe"><b>Введите ширину рамок(мм)</b></label>
                <br />
                <input type="text" asp-for="Wframe" />
                <span asp-validation-for="Wframe" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Hframe"><b>Введите высоту рамок(мм)</b></label>
                <br />
                <input type="text" asp-for="Hframe" />
                <span asp-validation-for="Hframe" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Porod"><b>Введите Породу</b></label>
                <br />
                <input type="text" asp-for="Porod" />
                <span asp-validation-for="Porod" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Heal1"><b>Болезни</b></label>
                <br />
                <input type="checkbox" asp-for="Heal1" id="Heal1" name="Heal1" value="true">
                <label for="Heal1">Акарапидоз</label><br>

                <input type="checkbox" asp-for="Heal2" id="Heal2" name="Heal2" value="true">
                <label for="Heal2">Амебиаз</label><br>

                <input type="checkbox" asp-for="Heal3" id="Heal3" name="Heal3" value="true">
                <label for="Heal3">Американский гнилец</label><br>

                <input type="checkbox" asp-for="Heal4" id="Heal4" name="Heal4" value="true">
                <label for="Heal4">Аскофероз</label><br>

                <input type="checkbox" asp-for="Heal5" id="Heal5" name="Heal5" value="true">
                <label for="Heal5">Аспергиллёз</label><br>

                <input type="checkbox" asp-for="Heal6" id="Heal6" name="Heal6" value="true">
                <label for="Heal6">Варроатоз</label><br>

                <input type="checkbox" asp-for="Heal7" id="Heal7" name="Heal7" value="true">
                <label for="Heal7">Европейский гнилец</label><br>

                <input type="checkbox" asp-for="Heal8" id="Heal8" name="Heal8" value="true">
                <label for="Heal8">Мешотчатый расплод</label><br>

                <input type="checkbox" asp-for="Heal9" id="Heal9" name="Heal9" value="true">
                <label for="Heal9">Нозематоз</label><br>

            </div>

            <div class="form-group ">
                <label asp-for="Heal"><b>Другие отклонения</b></label>
                <br />
                <input type="text" asp-for="Heal" />
                <span asp-validation-for="Heal" class="text-danger"></span>
            </div>


            <div class="form-group ">
                <label asp-for="Matka"><b>Матка</b></label>
                <br />
                <input type="checkbox" asp-for="Matka" id="chkShow" name="Matka" value="true">
                <label for="Matka">Наличие матки</label><br>
                <span asp-validation-for="Heal" class="text-danger"></span>
            </div>
            <div id="cShow">

                <div class="form-group ">
                    <label asp-for="Plod"><b>Плодность</b></label>
                    <br />
                    <select class="form-control" asp-for="Plod" value="@Model.Plod">
                        <option></option>
                        <option>Плодная</option>
                        <option>Неплодная</option>
                        <option>Маточник</option>
                    </select>
                    <span asp-validation-for="Plod" class="text-danger"></span>
                </div>

                <div class="form-group ">
                    <label asp-for="Prois"><b>Происхождение</b></label>
                    <br />
                    <select class="form-control" asp-for="Prois" value="@Model.Prois">
                        <option></option>
                        <option>Искусственная</option>
                        <option>Роевая</option>
                        <option>Самосменная</option>
                        <option>Свищевая</option>
                    </select>
                    <span asp-validation-for="Prois" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DatePods"><b>Дата подсадки</b></label>
                    <br />
                    <input type="date" asp-for="DatePods" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DatePods" class="text-danger"></span>
                </div>

            </div>




            <br />
            <input type="submit" value="Сохранить" class="btn btn-outline-dark" />
            <a asp-action="HiveView" asp-controller="Apiary" asp-route-id="@Model.Aid" value="Завершить" class="btn btn-outline-dark">Завершить</a>

        </div>
    </form>
    <br />
    <br />
    <br />

</div>